* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
}

i {
  cursor: pointer;
}

.fa-folder-plus::before {
  font-size: 150%;
}

.fa-trash-alt::before,
.fa-check-square::before,
.fa-trash-restore::before {
  font-size: 125%;
  transition: 0.3s all ease;
}

.fa-trash-alt:hover::before {
  color: #dc3545;
}

.fa-check-square:hover::before,
.fa-trash-restore:hover::before {
  color: #198754;
}

.action-icons {
  position: relative;
  right: -200%;
  transition: 0.3s all ease;
}

.list-group-item:hover .action-icons {
  right: 0;
}

.disable {
  pointer-events: none;
}
